{% extends "base.html" %}

{% if title %}
    {% block title %}{{ title }}{% endblock title %}
{% endif %}

{% block content %}
<article class="libsite-container container">
    <div class="row-fluid">
        <div class="span12">

<h1>No items found</h1>

<p> We're sorry, but we cannot find
{% if num_type %}
    anything for {{ num }}.
{% else %}
    that.
{% endif %}
</p>

<h1>Try a keyword search:</h1>

<p>
    <form class='form-inline' name="search" action="http://gw.summon.serialssolutions.com/search" method="get">
        <input autocorrect="off" autocapitalize="off" type="text" name="s.q">
        <input type="submit" value="Search" />
    </form>
</p>

<br />

<p>
If you're at GWU:
    <ul>
        <li><a href='http://findit.library.gwu.edu/'>Journals List</a></li>
        <li><a href='http://library.gwu.edu/help/reference/ask-a-librarian'>Ask a Librarian</a></li>
    </ul>
</p>

<p>
Otherwise, try:
    <ul>
        <li><a href='http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=First'>WRLC Catalog</a></li>
        <li><a href='http://www.worldcat.org'>WorldCat</a></li>
    </ul>
</p>

        </div>
    </div>
</article>
{% endblock %}
