{% extends "base.html" %}

{% block content %}

<h1>No items found</h1>

<p> We're sorry, but we cannot find
{% if num_type %}
    anything for {{ num }}.
{% else %}
    that.
{% endif %}
</p>

<p>
Try a keyword search:

    <form name="input" action="http://surveyor.gelman.gwu.edu/" method="get">
        <input autocorrect="off" autocapitalize="off" type="text" name="q">
        <input type="submit" value="Search" />
    </form>
</p>

<br />

<p>
If you're at GWU:
    <ul>
        <li><a href='http://findit.library.gwu.edu/'>Journals List</a></li>
        <li><a href='http://library.gwu.edu/help/reference/ask-a-librarian'>Ask a Librarian</a></li>
    </ul>
</p>

<p>
Otherwise, try:
    <ul>
        <li><a href='http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=First'>WRLC Aladin Catalog</a></li>
        <li><a href='http://www.worldcat.org'>WorldCat</a></li>
    </ul>
</p>

<br /><br /><br />

{% endblock %}
