{% extends "base.html" %}

{% block content %}

<h1>No items found</h1>

<p><b>We're sorry, but we can find no items based on the information provided.</b></p>

<p><b>Try a keyword search in our catalog, Article's Plus.</b></p>

<form name="input" action="http://gw.summon.serialssolutions.com/search" method="get">
    <input type="text" name="q" size="50" />
    <input type="submit" value="Search" />
</form>

<br />

<p><b>You may also wish to try one of the following resources:</b><br />
    <ul>
        <li><a href='http://findit.library.gwu.edu/'>Journals List</a></li>
        <li><a href='http://library.gwu.edu/help/reference/ask-a-librarian'>Ask a Librarian</a></li>
        <li><a href='http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=First'>WRLC Aladin Catalog Search</a></li>
        <li><a href='http://www.worldcat.org'>WorldCat Search</a></li>
    </ul>

<br /><br /><br />

{% endblock %}
