{% extends "base.html" %}

{% if title %}
    {% block title %}{{ title }}{% endblock title %}
{% endif %}

{% block content %}
<article class="libsite-container container">
    <div class="row-fluid">
        <div class="span12">

{% if title == 'error' %}
<h1>Sorry, system error</h1>
<p>
We're sorry, something went wrong.  I've sent an email report about it
to the systems folks at the Library so they can fix it.
</p>

<p>
Really, I did!  They'll be on it soon.
</p>

{% else %}
<h1>No items found</h1>

<p> We're sorry, but we cannot find
{% if num_type %}
    anything for {{ num }}.
{% else %}
    that.
{% endif %}
</p>

{% endif %}

<h2>Try a keyword search:</h2>

<p>
    <form class='form-inline' name="input" action="http://surveyor.gelman.gwu.edu/" method="get">
        <input autocorrect="off" autocapitalize="off" type="text" name="q">
        <input type="submit" value="Search" />
    </form>
</p>

<br />

<p>
If you're at GWU:
    <ul>
        <li><a href='http://findit.library.gwu.edu/'>Journals List</a></li>
        <li><a href='http://library.gwu.edu/help/reference/ask-a-librarian'>Ask a Librarian</a></li>
    </ul>
</p>

        </div>
    </div>
</article>
{% endblock %}
