{% extends "base.html" %}

{% block title %}About GW findit{% endblock title %}

{% block content %}

<h1>About GW findit - this site</h1>

<p>

GW Library's findit service connects you as quickly as we can to
what you're looking for.  It uses our catalog, journals, databases,
and some additional tools we're mixing together here in Foggy Bottom.
We're working to make it easier to get to what you're looking for or
give you a way to get what you need even if it's not readily available
at GW or our consortium peer libraries.

</p>

<p>
If you're interested in some of the technical details, have a look at
the <a href="{% url 'api' %}">API</a> to this system.
</p>

{% endblock %}
