{% extends "base.html" %}
{% load launchpad_extras humanize %}

{% block javascript_extra %}
<script>
  $(function() {
    $("#adv").submit(search);
  });

  function search(event) {
    var query = [];

    getKeyword("author", query);
    getPhrase("author", query);

    getKeyword("title", query);
    getPhrase("title", query);

    getKeyword("subject", query);
    getPhrase("subject", query);

    getKeyword("publisher", query);
    getPhrase("publisher", query);

    getPublicationDate(query)

    url = "/search?q=" + query.join(" AND ");
    location.href = url;
    return false;
  }

  function getKeyword(name, query) {
    var p = $("#" + name + "-keywords").val();
    if (p) {
      query.push(name + ":" + "(" + p + ")")
    }
  }
  
  function getPhrase(name, query) {
    var p = $("#" + name + "-phrase").val();
    if (p) {
      query.push(name + ":" + '"' + p + '"')
    }
  }

  function getPublicationDate(query) {
    var year = $("#publication-year").val();
    var start = $("#publication-year-start").val();
    var end = $("#publication-year-end").val();
    if (start && end) {
      query.push('publicationdate:[' + start + '-' + end + ']')
    } else if (start) {
      query.push('publicationdate:[' + start + '-]')
    } else if (end) {
      query.push('publicationdate:[-' + end + ']')
    } else if (year) {
      query.push('publicationdate:' + year)
    }
  }

</script>
{% endblock %}

{% block content %}

<div class="libsite-container container">

<form id="adv" class="form-horizontal" onsubmit="search">

<div class="row-fluid">
  <div class="span6">
    <h2>Advanced Search</h2>
  </div>
  <div class="span6">
    <div class="standard-search"><a href="/catalog/">Standard Search</a> / <a href="/tips">Search Tips</a></div>
  </div>
  <div class="span12 reduce">
    <hr />
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <h2>Author</h2>
  </div>
  <div class="span11">
      <div class="control-group">
        <label class="control-label" for="author-keywords">Keywords</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="author-keywords">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="author-phrase">Exact Phrase</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="author-phrase">
        </div>
      </div>
  </div>
  <div class="span12 reduce">
    <br />
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <h2>Title</h2>
  </div>
  <div class="span11">
      <div class="control-group">
        <label class="control-label" for="title-keywords">Keywords</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="title-keywords">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="title-phrase">Exact Phrase</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="title-phrase">
        </div>
      </div>
  </div>
  <div class="span12 reduce">
    <br />
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <h2>Subject</h2>
  </div>
  <div class="span11">
      <div class="control-group">
        <label class="control-label" for="subject-keywords">Keywords</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="subject-keywords">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="subject-phrase">Exact Phrase</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="subject-phrase">
        </div>
      </div>
  </div>
  <div class="span12 reduce">
    <br />
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <h2>Publisher</h2>
  </div>
  <div class="span11">
      <div class="control-group">
        <label class="control-label" for="publisher-keywords">Keywords</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="publisher-keywords">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="publisher-phrase">Exact Phrase</label>
        <div class="controls">
          <input class="input-xxlarge" type="text" id="publisher-phrase">
        </div>
      </div>
  </div>
  <div class="span12 reduce">
    <br />
  </div>
</div>

<div class="row-fluid">
  <div class="span1">
    <h2>Publication Date</h2>
  </div>
  <div class="span11">
      <div class="control-group">
        <label class="control-label" for="publication-year">Year</label>
        <div class="controls">
          <input min="1000" type="number" id="publication-year">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="publication-year-start">Year Range</label>
        <div class="controls">
          <input min="1000" type="number" id="publication-year-start">
          &nbsp; to &nbsp;
          <input min="1000" type="number" id="publication-year-end">
        </div>
      </div>
  </div>
  <div class="span12 reduce">
    <br />
  </div>
</div>

    <br>
    <br>
    <button>Advanced Search</button>

</form>
</div>

{% endblock %}
