<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock title %} - GWU Libraries</title>
<link rel="icon" href="{{ STATIC_URL}}img/favicon.ico" type="image/x-icon" />

<!-- 'viewport' helps mobile devices scale appropriately -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/libheader7_lite.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/launchpad.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
<link rel="stylesheet" href="{{ STATIC_URL }}css/libheader7_lite_ie.css" type="text/css" media="screen" />
<![endif]-->

<style type="text/css"> </style>
{% endblock styles %}

{% block styles_extra %}
{% endblock styles_extra %}

{% block javascript %}
{% endblock javascript %}

{% block javascript_extra %}
{% endblock javascript_extra %}

{% block link_extra %}
{% endblock link_extra %}
</head>
<body>

{% block header %}
{% include "header.html" %}
{% endblock header %}

<div id="content-container" style="max-width:940px; margin:0 auto 0;">
    <div id="content" style="margin: 0 .5em;">
{% block content %}
        <h2>Example Page</h2>
        <p>This is just an example of how the header might look in a simple page.  The code for this page (page.html) has comments and examples of how to call the css files or embed the css in the page.</p>
        <p>The header is responsive (gw logo drops out under 700px)</p>
        <p>Files you will need:</p>
        <ul>
        <li>libheader7_lite.html</li>
        <li>libfooter7_lite.html</li>
        <li>libheader7_lite.css (includes the main Libraries site styling for content)</li>
        <li>libheader7_lite_ie.css (ie fix for responsive: min-width 700px)</li>
        </ul>
        <p>If you have to include the css in the &lt;head&gt; or inline as as 'style=' give #libheader and #libfooter a min-width of 700px.</p>
{% endblock content %}
    </div>
</div>

{% include "footer.html" %}
</body>
</html>
