<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    
    {% block styles %}
      <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" media="screen" />
    {% endblock styles %}

    {% block styles_extra %}
    {% endblock styles_extra %}

    {% block javascript %}
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    {% endblock javascript %}

    {% block javascript_extra %}
    {% endblock javascript_extra %}

    {% block link_extra %}
    {% endblock link_extra %}

    {% block analytics_bug %}
      {% if settings.GOOGLE_ANALYTICS_UA %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_UA }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); 
            ga.type = 'text/javascript'; 
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(ga, s);
          })();
        </script>
      {% endif %}
    {% endblock analytics_bug %}

    {% if enable_humans %}
      <link type="text/plain" rel="author" href="{% url humans %}" />
    {% endif %}
  </head>
  
  <body>

    {% block header %}
      {% include "header.html" %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% include "footer.html" %}

  </body>
</html>
