<footer class="navbar-fixed-bottom">
    <div id="libfooter-container">
	<div id="libfooter" class="container">
            <div class="libfooter-text">
                <span class="address">
                <a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a> 
                &#8226; 2130 H Street NW &#8226; Washington DC 20052</span>
                &#8226; <span class="tel">202.994.6558</span> 
                &#8226; <a href="mailto:gelman@gwu.edu" target="_blank" title="email GW Libraries">gelman@gwu.edu</a>
                <div class="" style="float:right">
                    <span><a href="http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=rbSearch">Course Reserves</a></span>
		    <span> &8226; </span>
		    <span><a href="http://catalog.wrlc.org/">Classic Catalog</a></span>
		    <span> &8226; </span>
                    <span><a href="{% url 'about' %}">API</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
