<footer>
    <div id="libfooter-container" style="">
	<div id="libfooter" style="">
            <div class="libfooter-text" style="">
                <span class="address">
                <a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a> 
                &#8226; 2130 H Street NW &#8226; Washington DC 20052</span>
                &#8226; <span class="tel">202.994.6558</span> 
                &#8226; <a href="mailto:refdesk@gwu.edu" target="_blank" title="">refdesk@gwu.edu</a>
            </div>
        </div>
    </div>
</footer>
