{% load url from future %}

<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
</style>

<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{settings.LIBRARY_URL}}">{{settings.LIBRARY_NAME}}</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <a href="{{settings.SCHOOL_URL}}" class="navbar-link">
            <img src="{{settings.STATIC_URL}}/img/{{settings.SCHOOL_LOGO}}" />
          </a>
        </p>
        <ul class="nav">
          <li><a href="#">About</a></li>
          <li><a href="#">API</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>
