{% extends "base.html" %}

{% block title %}GW findit{% endblock %}

{% block content %}
<div class="libsite-container container">
  <div class="span12 text-center">
    <form action="{% url "search" %}" method="get" id="home-search-box-form">
      <input aria-label="Search" utofocus id="home-search-box" name="q" type="text" placeholder="e.g. printmaker" value="{{ q }}"></input>
      <button class="btn home-search-button">Search</button>
      <div class="advanced-search"><a href="/advanced/">Advanced Search</a> / <a href="/tips/">Search Tips</a></div>
    </form>
  </div>
</div>

{% endblock content %}
