{% extends "base.html" %}

{% block title %}GW findit{% endblock %}

{% block content %}
<div class="libsite-container container">
  <div class="span12 text-center">
    <form action="{% url "search" %}" method="get" id="home-search-box-form">
      <input autofocus id="home-search-box" name="q" type="text" placeholder="e.g. Huckleberry Finn" value="{{ q }}"></input>
      <button style="vertical-align: center; margin-bottom: 10px; height: 40px; font-size: 25px;" class="btn">Search</button>
    </form>
  </div>
</div>

{% endblock content %}
