{% extends "base.html" %}
{% load launchpad_extras %}
{% load url from future %}


{% block title %}
  {% if recordset.alttitle %}
    {{ recordset.alttitle }}
  {% else %}
    {{ recordset.trunctitle }}
  {% endif %}
{% endblock title %}


{% block link_extra %}
  {% if recordset.bibid %}
    <link rel='canonical' href='{% url "item" recordset.bibid %}' />
    <link rel='alternate' type='application/json' href='{% url "item_json" recordset.bibid %}' />
  {% endif %}
{% endblock link_extra %}


{% block content %}

<div itemscope itemtype="{{recordset.microdata_type}}" class="container-fluid">
  <div class="row-fluid">
    <div class="hero-unit"><!-- Bibliographic data showcased in the "hero-unit" -->
      <div id="cover">
        <img itemprop="image" id="cover-image" src="http://covers.openlibrary.org/b/isbn/{{ recordset.isbn|clean_isbn }}-M.jpg" title="cover image from Open Library" alt="cover image" />
      </div>
      <!-- title block -->
      <h1>
        {% if recordset.alttitle %}
          <span itemprop="name">{{recordset.alttitle}}</span><br />
        {% endif %}
        <span itemprop="name">{{recordset.title}}</span>
      </h1>
      <!-- TODO: add openurl -->
      <!-- authors -->
      {% if recordset.altauthor %}
        <span itemprop="author">{{recordset.altauthor}}</span><br />
      {% endif %}
      {% if recordset.author %}
        <span itemprop="author">{{recordset.author}}</span><br />
      {% endif %}
      {% if recordset.altaddedentries %}
        {% for contributor in recordset.altaddedentries %}
          <span itemprop="contributor">{{contributor}}</span>{% if not forloop.last %}; {% endif %}
        {% endfor %}
        <br />
      {% endif %}
      {% if recordset.addedentries %}
        {% for contributor in recordset.addedentries %}
          <span itemprop="contributor">{{contributor}}</span>{% if not forloop.last %}; {%endif %}
        {% endfor %}
        <br />
      {% endif %}
      <!-- TODO: add edition -->
      <!-- Imprint -->
      {% if recordset.altmeta.publisher %}
        <span itemprop="publisher">{{recordset.altmeta.publisher}}</span>{% if recordset.altmeta.pubplace or recordset.altmeta.pubyear %},{% else %}.<br />{% endif %}
      {% endif %}
      {% if recordset.altmeta.pubyear %}
        {{recordset.altmeta.pubyear}}.{% if recordset.publisher or recordset.pubyear %}<br />{% endif %}
      {% endif %}
      {% if recordset.publisher %}
        <span itemprop="publisher">{{recordset.publisher}}</span>{% if recordset.pubyear or recordset.pubplace %},{% else %}.{% endif %}
      {% endif %}
      {% if recordset.pubplace %}
        {{recordset.pubplace}}{% if recordset.pubyear %},{% else %}.{% endif %}
      {% endif %}
      {% if recordset.pubyear %}
        {{recordset.pubyear}}.
      {% endif %}

      <!-- language -->
      {% if recordset.language %}
        In <span itemprop="inLanguage">{{recordset.language}}</span>.
      {% endif %}
      <br />

      <!-- Standard IDs -->
      {% if recordset.isbns %}
        ISBN
        {% for isbn in recordset.isbns %}
          {{isbn}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br />
      {% endif %}
      {% if recordset.issns %}
        ISSN
        {% for issn in recordset.issns %}
          {{issn}}{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br />
      {% endif %}
      <!-- TODO: add catalog link and illiad link -->
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li><a href="#holdings-tab" data-toggle="tab">Consortium Holdings</a></li>
    <li><a href="#bibmarc-tab" data-toggle="tab">MARC</a></li>
  </ul>
  <div class="tab-content">
  {% if recordset.holdings %}
    <div class="tab-pane active" id="holdings-tab">
    {% regroup recordset.holdings by library as liblist %}
      {% for library in liblist %}
        <div class="row-fluid">
          <div class="span12">
            {% if library.grouper %}
              <h2>{{library.grouper}}</h2>
            {% endif %}


            {% for holding in library.list %}
              <div class="row-fluid">
                <div class="span12">
                  <h3>{{holding.location}}</h3>
                  {% if holding.pubnote %}
                    <div class="alert alert-info">{{holding.pubnote}}</div>
                  {% endif %}
                    <ul class="nav nav-tabs" id="tabset-{{holding.mfhdid}}">
                      <li class="active"><a href="#{{holding.mfhdid}}-items" data-toggle="tab">Items List</a></li>
                      {% if holding.textual %}
                      <li><a href="#{{holding.mfhdid}}-textual" data-toggle="tab">Holdings List</a></li>
                      {% endif %}
                      {% if holding.marc %}
                      <li><a href="#{{holding.mfhdid}}-marcholds" data-toggle="tab">MARC Holdings</a></li>
                      {% endif %}
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="{{holding.mfhdid}}-items">
                        {% if holding.items|length > 1 %}
                        <div class="accordion" id="accordion-{{holding.mfhdid}}">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{holding.mfhdid}}" href="#collapseTwo-{{holding.mfhdid}}">
                                Collapse/Expand Item Listing
                              </a>
                            </div>
                            <div id="collapseTwo-{{holding.mfhdid}}" class="accordion-body collapse in">
                              <div class="accordion-inner">
                        {% endif %}
                                  <table class="table table-striped">
                                    <tr>
                                      <th>Location</th>
                                      <th>Call Number</th>
                                      <th>Status</th>
                                      <th>Eligible</th>
                                    </tr>
                                    {% if holding.items %}
                                      {% for item in holding.items %}
                                        <tr>
                                          <td>
                                            {% if item.temploc and item.temploc != holding.location %}
                                              <span class="text-warning">{{item.temploc}}</span>
                                            {% else %}
                                              {{item.location}}
                                            {% endif %}
                                          </td>
                                          <td>{{holding.callnum}} {{item.enum}}</td>
                                          <td>{{item.status}}</td>
                                          <td>{{item.eligible}}</td>
                                        </tr>
                                      {% endfor %}
                                    {% else %}
                                      <tr>
                                        <td>{% if holding.temploc %}{{holding.temploc}}{% endif %}</td>
                                        <td>{{holding.callnum}}</td>
                                        <td>{{holding.status}}</td>
                                        <td>{{holding.eligible}}</td>
                                      </tr>
                                    {% endif %}
                                  </table>
                        {% if holding.items|length > 1 %}
                              </div>
                            </div>
                          </div><!-- close accordion group -->
                        </div><!-- close accordion -->
                        {% endif %}
                      </div><!-- close items tab-pane -->
                      {% if holding.textual %}
                      <div class="tab-pane" id="{{holding.mfhdid}}-textual">
                        <p class="muted">The library has the following volumes and issues</p>
                        {% for line in holding.textual %}
                        {{line}}<br />
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if holding.marc %}
                      <div class="tab-pane" id="{{holding.mfhdid}}-marcholds">
                        <pre>{{holding.marc}}</pre>
                      </div>
                      {% endif %}
                    </div><!-- close tab-content
                    <script>
                      $(function () {
                        $("#tabset-{{holding.mfhdid}} a:last").tab("show");
                      })
                    </script> -->
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div><!-- close holdings tab -->
  {% endif %}
  {% if recordset.marc %}
    <div class="tab-pane" id="bibmarc-tab">
      <pre>{{recordset.marc}}</pre>
    </div>
  {% endif %}
  </div><!-- end tab group -->
</div>

{% endblock content %}
