{% extends "base.html" %}
{% load launchpad_extras %}
{% load url from future %}

{% block title %}{% if bib.CJK_INFO.TITLE %}{{ bib.CJK_INFO.TITLE }}{% else %}{% if bib.TITLE|length <= 254 %}{{ bib.TITLE }}{% else %}{{ bib.TITLE|truncatewords:-1 }}{% endif %}{% endif %}{% endblock title %}

{% block link_extra %}
{% with url_name="item_json" %}
<link rel='alternate' type='application/json' href='{% url url_name bibid %}' />
{% endwith %}
{% endblock link_extra %}

{% block javascript_extra %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type='text/javascript' src= '{{STATIC_URL}}js/jquery_expander.js'></script>
<script type='text/javascript'>
// hide missing cover images' surrounding <div>
$(document).ready(function() {
    $('#cover-image').load(function() {
        if ($('#cover-image').width() == 1) {
            $('#cover').toggle(200);
        };
    });
    $('h1.title span').expander({
     slicePoint:     {{title_chars}},
     expandPrefix:   '... ',
     expandText:     '[more]',
     collapseTimer: 0,
     userCollapseText: '[less]'
    });
});

// show txt/email button
var newwindow;
function sms(url) {
    newwindow = window.open(url, 'name', 'height=590,width=400,toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0');
    if (window.focus) {
        newwindow.focus();
    };
};
</script>
{% endblock javascript_extra %}

{% block content %}

<table border='0' style='width:100%;'>
    <tr>
        <td>
            {% if bib.ISBN|clean_isbn %}
            <div id='cover'>
                <img id='cover-image' src='http://covers.openlibrary.org/b/isbn/{{ bib.ISBN|clean_isbn }}-M.jpg' title='cover image from Open Library' alt='cover image'/>
            </div>
            {% endif %}
            <div id='description'>
<h1 class="title">
{% if bib.CJK_INFO.TITLE %}
    {{ bib.CJK_INFO.TITLE }} <br />
{% endif %}
<span> {{bib.TITLE_ALL}} </span>
</h1>

{% if bib.AUTHOR or bib.CJK_INFO.AUTHOR or bib.AUTHORS %}
<span class="author">
{% if bib.CJK_INFO.AUTHOR %}
    {{ bib.CJK_INFO.AUTHOR }} <br />
{% endif %}
{% if bib.AUTHORS %}
    {{ bib.AUTHORS|join:"; " }}
    <br />
{% endif %}
</span>
{% endif %}

{% if bib.EDITION %}
<span class="edition">{{ bib.EDITION }}.</span>
{% endif %}
<span class="imprint">
{% if bib.CJK_INFO.IMPRINT %}
    {{ bib.CJK_INFO.IMPRINT }} <br />
{% endif %}
{% if bib.IMPRINT %}
    {{ bib.IMPRINT }}</span>{% if bib.IMPRINT|slice:"-1:" == '.' or bib_IMPRINT|slice:"-2:" == '. ' %}{% else %}.{% endif %}
{% endif %}

</span>
{% if bib.LANGUAGE_DISPLAY %}
In <span class="language">{{ bib.LANGUAGE_DISPLAY }}.</span>
{% endif %}
<br />

{% if bib.DISPLAY_ISBN_LIST %}
    <span class="isbn-label">ISBN </span>
    <span class="isbn">{{ bib.DISPLAY_ISBN_LIST|join:", " }}</span><br/>
{% endif %}
{% if bib.DISPLAY_ISSN_LIST %}
    <span class="isbn-label">ISSN </span>
    <span class="issn">{{ bib.DISPLAY_ISSN_LIST|join:", " }}</span><br/>
{% endif %}
{%if bib.ILLIAD_LINK %}
    <span class="catlink"> Make a request for this item through ILL <a href= {{bib.ILLIAD_LINK}} target='newwin'> Request </a> </span>
{%endif%}

<p>
<span class="catlink">View detailed description of this title in the <a href='http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&BBID={{ bib.BIB_ID }}' target='newwin'>Aladin Catalog</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/></span>
</p>

        </td>
    </tr>
</table>


{% if holdings %}
    {% regroup holdings by LIBRARY_FULL_NAME as library_list %}
<table WIDTH='100%'> 
    <thead>
        <tr>
            <th width='40%'>Location</th>
            <th width='25%'>Call Number</th>
            <th width='20%'>Status</th>
            <th width='15%'>Consortium Loan</th>
        </tr>
    </thead>
    <tbody>		
    {% for library in library_list %}
        {% if library.grouper %}
        <tr>
            <td class='library-group-header'>
            {{ library.grouper }}
            </td>
        </tr>
        {% endif %}
        {% for holding in library.list %}
            {% if holding.ITEMS %}
                {% for item in holding.ITEMS %}
            <tr >
                <td>
                    <div class="itemrow">
                    {% if item.TEMPLOCATION %}
                        {{ item.TEMPLOCATION|noscream }}
                        <br />
                    {% else %}
                        {{ item.TRIMMED_LOCATION_DISPLAY_NAME|noscream }}
                    {% endif %}
                    {% if holding.MFHD_DATA and holding.MFHD_DATA.marc866list and forloop|length_is:"1" %}
                        {% for line in holding.MFHD_DATA.marc866list %}
                            <br />
                            <span class="library-has">{{ line }}</span>
                        {% endfor %}
                    {% endif %}
                    {% if holding.MFHD_DATA.marc852 and forloop.first %}
                        <br />
                        <span class="note">{{ holding.MFHD_DATA.marc852 }}</span>
                    {% endif %}
                    {#{% if holding.LIBRARY_HAS %}#}
                        {#{% for line in holding.LIBRARY_HAS %}#}
                            <!--<br />
                            <span class="library-has">{{ line }}</span>-->
                        {#{% endfor %}#}
                    {#{% endif %}#}
                    </div>
                </td>
                <td>
                    {% if item.DISPLAY_CALL_NO %} {{ item.DISPLAY_CALL_NO }} {% endif %}
                    {% if item.ITEM_ENUM %} {{ item.ITEM_ENUM }} {% endif %}
                </td>
                <td>
                    {% if holding.MFHD_DATA and holding.MFHD_DATA.marc856list %}
                        {% for link in holding.MFHD_DATA.marc856list %}
                            {% if link.3 %}
                    <span class="link-volumes">[{{ link.3 }}]</span>
                            {% endif %}
                            {% if holding.LIBRARY_NAME != 'GW' and holding.LIBRARY_FULL_NAME != 'WRLC' %}
                    <a href="{{link.u}}" target="clswindow">Full text online</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
                    <br />
                    <img style = 'height:1em;' src = '{{ STATIC_URL }}img/lock.png'></img>
                    {{holding.LIBRARY_NAME}} only
                            {% else %}
                                <button onclick="window.open('{{link.u}}')" > Full text online </button>
                            {% endif %}
                            {% if not forloop.last %}<hr />{% endif %}
                        {% endfor %}
                    {% else %}
                        {%if item.ITEM_STATUS_DESC = 'Not Charged'%}
                            <span style='color: green'>Available</span>
                            <a href='javascript:sms("http://catalog.wrlc.org/aquascrape/index.php?{% if item.DISPLAY_CALL_NO %}call={{ item.DISPLAY_CALL_NO|urlencode }}{% endif %}&amp;{% if item.TRIMMED_LOCATION_DISPLAY_NAME %}loc={{ item.TRIMMED_LOCATION_DISPLAY_NAME|noscream|urlencode }}{% endif %}&amp;title={{ bib.TITLE|truncatechars:80|urlencode }}");'><img border='0' src='{{ STATIC_URL }}img/txt.png' alt='text/email this to me' /></a>
                        {%else%}
                            {% if item.AVAILABILITY.TEMPLOCATION == 'WRLC Center'%}
                                <span class='off-site'>Off-site </span>
                                <br />
                                <span class='off-site-explanation'>(Available by request)</span>
                            {% else %}
                                {{ item.ITEM_STATUS_DESC }}
                            {% endif %}
                        {%endif%}
                    {% endif %}
                </td>
                <td>
                    {% if item.ELIGIBLE %}
                        <a href='https://www.aladin.wrlc.org/Z-WEB/CLSReqForm?srcid=voyager:WRLC&bibid={{ holding.BIB_ID }}' target='clswindow'>Request</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            <!--  If no item data use old template -->
            {% elif "Click" not in holding.TRIMMED_LOCATION_DISPLAY_NAME %}
                <tr>
                    <td>
                        <div class="itemrow">
                        {% if holding.AVAILABILITY.TEMPLOCATION %}
                            {{ holding.AVAILABILITY.TEMPLOCATION|noscream }}
                            <br />
                            <span class='temp-loc-label'>Temporarily held</span>
                        {% else %}
                            {{ holding.TRIMMED_LOCATION_DISPLAY_NAME|noscream }}
                        {% endif %}
                        {% if holding.LIBRARY_HAS %}
                            {% for line in holding.LIBRARY_HAS %}
                                <br />
                                <span class="library-has">{{ line }}</span>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </td>
                    <td>
                        {% if holding.DISPLAY_CALL_NO %}
                            {{ holding.DISPLAY_CALL_NO|noscream }}
                        {% endif %}
                    </td>
                    <td>
                        {% if holding.ELECTRONIC_DATA and holding.ELECTRONIC_DATA.LINK856U %}
                            {% if holding.ELECTRONIC_DATA.LINK8563 %}
                                <span class="link-volumes">[{{ holding.ELECTRONIC_DATA.LINK8563 }}]</span>
                            {% endif %}
                            {% if holding.LIBRARY_NAME != 'GW' and holding.LIBRARY_FULL_NAME != 'WRLC' %}
                                <a href="{{holding.ELECTRONIC_DATA.LINK856U}}" target="clswindow">Full text online</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
                                <br />
                                <img style = 'height:1em;' src = '{{ STATIC_URL }}img/lock.png'> </img>
                                {{holding.LIBRARY_NAME}} only
                            {% else %}
                                <a href="{{holding.ELECTRONIC_DATA.LINK856U}}" target="clswindow">Full text online</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
                            {% endif %}
                        
                        {% elif holding.MFHD_DATA and holding.MFHD_DATA.marc856list %}
			    {% for link in holding.MFHD_DATA.marc856list %}
				{% if link.3%}
			            <span class="link-volumes">[{{ link.3 }}]</span>
				{% endif %}
				{% if holding.LIBRARY_NAME != 'GW' and holding.LIBRARY_FULL_NAME != 'WRLC' %}
			            <a href="{{link.u}}" target="clswindow">Full text online</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
			            <br />
			            <img style = 'height:1em;' src = '{{ STATIC_URL }}img/lock.png'></img>
			            {{holding.LIBRARY_NAME}} only
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if holding.AVAILABILITY.ITEM_STATUS_DESC = 'Not Charged' %}
                                <span style='color: green'>Available</span>
                            {% else %}
                                {% if holding.AVAILABILITY.TEMPLOCATION == 'WRLC Center'%}
                                    <span class='off-site'>Off-site </span><br /><span class='off-site-explanation'>(Available by request)</span>
                                {% else %}
                                    {{ holding.AVAILABILITY.ITEM_STATUS_DESC }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if holding.ELIGIBLE %}
                            <a href='https://www.aladin.wrlc.org/Z-WEB/CLSReqForm?srcid=voyager:WRLC&bibid={{ holding.BIB_ID }}' target='clswindow'>Request</a><img src='{{ STATIC_URL }}img/external-link.jpg' width='16' height='10'/>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table> 
{% else %}
<p>
No copies found in WRLC.  ADD ILL LINK.
</p>
{% endif %}

{% if debug %}
<h3>Debugging info</h3>

<p>
View JSON: <a href='{% url "item_json" bibid %}'>{% url "item_json" bibid %}</a>
&nbsp;

{% if bib.ISBN|clean_isbn %}
ISBN: <a href='{% url "isbn" bib.ISBN|clean_isbn %}'>{% url "isbn" bib.ISBN|clean_isbn %}</a>
&nbsp;
    {% if link_resolver.base_url and link_resolver.name %}
(<a href='{{ link_resolver.base_url }}?isbn={{ bib.ISBN|clean_isbn }}'>{{ link_resolver.name }}</a>)
&nbsp;
    {% endif %}
{% endif %}
{% if bib.ISSN|clean_issn %}
ISSN: <a href='{% url "issn" bib.ISSN|clean_issn %}'>{% url "issn" bib.ISSN|clean_issn %}</a>
&nbsp;
    {% if link_resolver.base_url and link_resolver.name %}
(<a href='{{ link_resolver.base_url }}?isbn={{ bib.ISBN|clean_isbn }}'>{{ link_resolver.name }}</a>)
&nbsp;
    {% endif %}
{% endif %}
{% if bib.NETWORK_NUMBER|clean_oclc %}
OCLC: <a href='{% url "oclc" bib.NETWORK_NUMBER|clean_oclc %}'>{% url "oclc" bib.NETWORK_NUMBER|clean_oclc %}</a>
&nbsp;
{% endif %}
</p>


{% endif %}

{% endblock content %}
