{% extends "base.html" %}

{% block title %}{{ bib.TITLE }}{% endblock title %}

{% block link_extra %}
<link rel='alternate' type='application/json' href='{% url item_json bibid %}' />
{% endblock link_extra %}

{% block content %}

<h1 class="title">{{ bib.TITLE }}</h1>
<h2 class="author">{{ bib.AUTHOR }}</h2>
{% if bib.EDITION %}
<span class="edition">{{ bib.EDITION }}.</span>
{% endif %}
<span class="imprint">{{ bib.IMPRINT }}</span><br />
{% if bib.ISBN %}
<span class="isbn-label">ISBN </span><span class="isbn">{{ bib.ISBN }}</span><br/>
{% endif %}
{% if bib.ISSN %}
<span class="isbn-label">ISSN </span><span class="issn">{{ bib.ISSN }}</span><br/>
{% endif %}

{% if bib.LIBRARY_NAME in nongw %}
<p>
<span class="catlink">View detailed description of this title in the <a href="{{ link }}" target='newwin'> {{ bib.LIBRARY_NAME }} catalog</a></span>
</p>
{% else %}
<p>
<span class="catlink">View detailed description of this title in the <a href='http://catalog.wrlc.org/cgi-bin/Pwebrecon.cgi?DB=local&BBID={{ bib.BIB_ID }}' target='newwin'>Aladin Catalog</a></span>
</p>
{% endif %}

<table WIDTH='100%' CELLPADDING='2' CELLSPACING='0' BORDER='0'>
    <thead>
        <tr>
            <th bgcolor='#EAEAEA'>Location</th>
            <th bgcolor='#EAEAEA'>Call Number</th>
            <th bgcolor='#EAEAEA'>Circulation Status</th>
            <th bgcolor='#EAEAEA'>Consortium Loan</th>
        </tr>
    </thead>
    <tbody>
        {% for holding in holdings %}
        <tr>
            <td>{{ holding.LOCATION_DISPLAY_NAME }}</td>
            <td>{{ holding.DISPLAY_CALL_NO }}</td>
            <td>{{ holding.AVAILABILITY.ITEM_STATUS_DESC }}</td>
            <td><a href='https://www.aladin.wrlc.org/Z-WEB/CLSReqForm?srcid=voyager:WRLC&bibid={{ holding.BIB_ID }}' target='clswindow'>Request</a><img src='http://gwdroid.wrlc.org/lp/external-link.jpg' /></td>
        </tr>
        {% endfor %}
    </tbody>
</table> 

{% if debug %}
<h3>Debugging info</h3>

<p>
View this item in <a href='{% url item_json bibid %}'>JSON</a>.
<br />
{% if bib.ISBN %}
Try its <a href='{% url isbn bib.ISBN|slice:":10" %}'>ISBN link</a>.
<br />
{% endif %}
{% if bib.NETWORK_NUMBER %}
Try its <a href='{% url oclc bib.NETWORK_NUMBER|cut:" " %}'>OCLC link</a>.
<br />
{% endif %}
</p>

{% endif %}

{% endblock content %}
