{% extends "base.html" %}
{% load launchpad_extras humanize %}

{% block title %}Request Print Edition{% endblock %}

{% block content %}

<div class="row-fluid">
    <h1>Request a print edition of a book</h1>
    <h3>{{ citation.title }}</h3>
        <p>ISBN: {{ citation.isbn }} </p>
        <form action="https://docs.google.com/a/email.gwu.edu/forms/d/1uNlorJm4j5A6cn6BT2cofaanCQcIAvtKGqz0bHlWmQ8/formResponse" method="POST" class="requestform">
            {{ form }}
            </br>
            <p>We will email you when the book is available.</p>        
            <p><button class="button-lg" type="submit" value="Submit">Submit</button></p>
        </form>
</div>

{% endblock %}
