{% extends "base.html" %}
{% load launchpad_extras humanize %}

{% block title %}Search Results{% endblock %}

{% block content %}

    <section class="search row pagination">
        <form id="search" class="" action="{% url "search" %}" method="get">
            <input id="q" style="float: left; margin-right: 10px;" name="q" type="text" placeholder="Search" value="{{ q }}" size="60"></input>
            <ul>
                {% if prev_page_range %}
                <li><a href="{% url "search" %}?{{ prev_page_range }}">&#x00ab;</a></li>
                {% endif %}

                {% for n, q in page_range %}
                <li {% if n == page %}class="active"{% endif %}><a href="{% url "search" %}?{{q}}">{{ n }}</a></li>
                {% endfor %}

                {% if next_page_range %}
                <li><a href="{% url "search" %}?{{ next_page_range }}">&#x00bb;</a>
                {% endif %}
            </ul> 
            <div class="advanced-search">
              <a href="{% url "advanced_search" %}">Advanced Search</a>
              /
              <a href="{% url "tips" %}">Search Tips</a>
              /
              Online Resources <input id="online" name="online" type="checkbox" {% if online %}checked{% endif %}>
            </div>

            {% for facet in original_facets %}
            <input type="hidden" name="facet" value="{{ facet }}">
            {% endfor %}
            
        </form>
    </section>

    {% if active_facets %}
    </div>
    </div>
    <div class="row-fluid">
    <div class="span12">
    <section class="row" id="active-facets">
      <ul>
        {% for facet in active_facets %}
        <li class="{{ facet.name }}">
          <a class="btn" title="remove {{ facet.value }} facet" href="{{ facet.remove_link }}">{{ facet.value }}<i class="fa fa-ellipsis-v"></i><i class="fa fa-times-circle"></i></a>
        </li>
        {% endfor %}
      </ul>
    </section>
    </div>
    </div>
    {% endif %}

    <div class="row-fluid">

    <section id="search-results" class="span8">

    {% if not search_results.results %}
    <p>
    We're sorry, no results were found for your search.
    </p>

    <p>
    Here are a few things you could try:
    <ul>
      <li>check your spelling</li>
      <li>try different keywords</li>
      <li>try more general keywords</li>
      <li>try fewer keywords</li>
    </ul>
    If you are searching for a subject heading:
    <ul>
        <li>No matching results may indicate the subject heading is a combination of  
        general subject terms and sub-heading(s)</li>
        <li>use the advanced search form, or the refine facets to search for the
        sub-headings. Examples:
        <ul>
            <li>Time period -- e.g., 20th century</li>
            <li>Region -- e.g., Iran </li>
            <li>Genre -- e.g., biography </li>
        </ul>
        </li>
    </ul>

    If you continue to have trouble please feel free to  
    <a href="http://library.gwu.edu/help/reference/ask-a-librarian">ask a
      librarian</a> for assistance.

    </p>
    {% endif %} 

    {% for doc in search_results.results %}
    <article id="{{ doc.id }}" class="search-result clearfix" itemscope itemtype="{{ doc.type }}">
        {% if doc.thumbnailUrl %}
        <a href="{{ doc.id }}">
            <img itemprop="image" class="cover-thumbnail" src={{ doc.thumbnailUrl }}>
        </a>
        {% endif %}

        {% if doc.alternateName %}
        <a href="{{ doc.id }}">
            <span class="search-result-title-alt" itemprop="alternateName">{{ doc.alternateName }}</span>
        </a>
        {% if doc.author %}
        / 
        {% for author in doc.author %}
        {% if author.alternateName %}
        <span itemprop="author" itemtype="Person" itemscope>
            <span class="search-result-author-alt" itemprop="alternateName">{{ author.alternateName }}</span>
            {% if forloop.last %}<span class="trailing-period">.</span>{% else %} ; {% endif %}
        </span>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endif %}

        <div class="search-result-title">
          <a href="{{ doc.id }}" itemprop="name">{{ doc.name }}</a>
        </div>

        {% if doc.author and doc.type != "Periodical" %}
        {% for author in doc.author %}
        <span itemprop="author" itemtype="Person" itemscope>
            <a href="{{ author.url }}" itemprop="name">{{ author.name }}</a>
            {% if forloop.last %}<span class="trailing-period">.</span>{% else %} ; {% endif %}
        </span>
        {% endfor %}
        <br>
        {% endif %}

        {% if doc.bookEdition %}
        <span itemprop="bookEdition">{{ doc.bookEdition }}</span>.
        <br>
        {% endif %}

        {% if doc.publisher %}
        <span itemprop="publisher" itemscope itemtype="Organization">
            {% if doc.publishers.address %}
            <span itemprop="address">{{ doc.publisher.address }}</span> :
            {% endif %}
            <span itemprop="name">{{ doc.publisher.name }}</span>
        </span>
        {% endif %}
        {% if doc.type != "Periodical" %}
            {{ doc.datePublished }}.
        {% endif %}

        {% if doc.about %}
        <!-- These are actually a combination of subjectterms (subjects), and  -->
        <!-- temporalsubjectterms (time period), geographiclocations (region), -->
        <!-- and genre. Ok to display, but do not hyperlink.                   -->
        <br>
         <ul class="subjects" itemprop="about">
            {% for subject in doc.about %}
            <li itemprop="about">
            <a href="{{ subject.url }}">{{ subject.name }}</a> 
            </li>
            {% if not forloop.last %}<br /> {% endif %}
            {% endfor %}
         </ul>
        <br>
        {% endif %}

        <ul itemprop="offers" class="offers">
          {% for offer in doc.offers %}
          <li class="offer" id="offer-{{ offer.serialNumber }}" itemtype="Offer" itemscope>
            <span class="itemType">
              {% if doc.type == "VideoObject" %}
              <i class="fa fa-film fa-lg"></i>Video
              {% elif doc.type == "AudioObject" %}
              <i class="fa fa-headphones fa-lg"></i>Audio
              {% elif doc.type == "WebPage" %}
              Website
              {% else %}
              {{ doc.type }}
              {% endif %}
            </span>
            <span itemprop="description"></span>
            <span itemprop="availabilityStarts"></span>:
            <span itemprop="seller">{{ offer.seller }}</span> 
            / 
            <span itemprop="availabilityAtOrFrom"></span>
            /
            <span itemprop="sku"></span>
          </li>
          {% endfor %}
        </ul>

    </article>
    {% endfor %}

    </section>

    <section id="facets" class="span3 pull-right">

    <h2>Refine Results</h2>
    <h3>{{ search_results.totalResults|intcomma }} titles</h3>
    <hr>

    {% for facet in search_results.facets %}
        <h2>{{ facet.name }}</h2>
        <ul>
            {% for f in facet.counts %}
            <li>
              <a href="{% url "search" %}?{{ f.url }}">{{ f.name }}</a>
              ({{ f.count|intcomma }})
            </li> 
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}
    </section>

    </div>

    <section class="search row pagination">
        <form class="span12" action="{% url "search" %}" method="get">
            <input style="float: left; margin-right: 10px;" name="q" type="text" placeholder="Search" value="{{ q }}"></input>
            <ul>
                {% if prev_page_range %}
                <li><a href="{% url "search" %}?{{ prev_page_range }}">&#x00ab;</a></li>
                {% endif %}

                {% for n, q in page_range %}
                <li {% if n == page %}class="active"{% endif %}><a href="{% url "search" %}?{{q}}">{{ n }}</a></li>
                {% endfor %}

                {% if next_page_range %}
                <li><a href="{% url "search" %}?{{ next_page_range }}">&#x00bb;</a>
                {% endif %}
            </ul> 
        </form>
    </section>

    {% if debug %}
    <h2>Debugging info:</h2>
    JSON: <a href="{{ json_url }}">{{ json_url }}</a>
    &nbsp;
    Summon: <a href="{{ raw_url }}">{{ raw_url }}</a>
    <br>
    <br>
    {% endif %}


</div>

{% endblock %}
