{% extends "base.html" %}
{% load launchpad_extras humanize %}

{% block content %}

<div class="libsite-container container">

    <section class="search row">
      <form class="span12" action="{% url "search" %}" method="get">
        <input style="float: left; margin-right: 10px;" name="q" type="text" placeholder="Search" value="{{ q }}"></input>
        <span class="pagination">
          <ul>
            {% if prev_page_range %}
            <li><a href="{% url "search" %}?{{ prev_page_range }}">&#x00ab;</a></li>
            {% endif %}

            {% for n, q in page_range %}
            <li {% if n == page %}class="active"{% endif %}><a href="{% url "search" %}?{{q}}">{{ n }}</a></li>
            {% endfor %}

            {% if next_page_range %}
            <li><a href="{% url "search" %}?{{ next_page_range }}">&#x00bb;</a>
            {% endif %}
          </ul> 
        </span>
      </form>
    </section>

    <div class="row">

    <section id="search-results" class="span9">

    {% for doc in search_results.results %}
    <article class="search-result" itemscope itemtype="{{ doc.type }}">
        {% if doc.type == "Book" %}<img title="Book" class="item-type" src="{{ STATIC_URL }}img/book.png">{%endif %}
        {% if doc.type == "VideoObject" %}<img title="Video" class="item-type" src="{{ STATIC_URL }}img/video.png">{% endif %}
        {% if doc.type == "AudioObject" %}<img title="Audio" class="item-type" src="{{ STATIC_URL }}img/audio.png">{% endif %}
        {% if doc.type == "Map" %}<img title="Map" class="item-type" src="{{ STATIC_URL }}img/map.png">{% endif %}
        {% if doc.type == "Periodical" %}<img title="Map" class="item-type" src="{{ STATIC_URL }}img/periodical.png">{% endif %}

        {% if doc.thumbnailUrl %}
            <img itemprop="image" class="cover" src={{ doc.thumbnailUrl }}>
        {% endif %}

        <a href="{{ doc.id }}">
            <span class="title" itemprop="name">{{ doc.name }}</span><br>
        </a>

        {% if doc.author %}
            {% for author in doc.author %}
                <span itemprop="author" itemtype="Person" itemscope>
                  <span itemprop="name">{{ author.name }}</span>
                </span>
            {% endfor %}
            <br>
        {% endif %}

        {% if doc.publisher %}
            <span itemprop="publisher" itemscope itemtype="Person">
                <span itemprop="address">{{ doc.publisher.address }}</span> :
                <span itemprop="name">{{ doc.publisher.name }}</span>
            </span>
        {% endif %}
        {{ doc.datePublished }}
        <br>
        <span itemprop="offers">
            {% for offer in doc.offers %}
            <span itemprop="seller">{{ offer.seller }}</span>
            {% endfor %}
        </span>
    </article>
    {% endfor %}

    </section>

    <section id="facets" class="span3">
    {% for facet in search_results.facets %}
        <h2>{{ facet.name }}</h2>
        <ul>
            {% for f in facet.counts %}
            <li>
              <a href="{% url "search" %}?{{ f.url }}">{{ f.name }}</a>
              ({{ f.count|intcomma }})
            </li> 
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}
    </section>

    </div>

    <section class="search row">
      <form class="span12" action="{% url "search" %}" method="get">
        <input style="float: left; margin-right: 10px;" name="q" type="text" placeholder="Search" value="{{ q }}"></input>
        <span class="pagination">
          <ul>
            {% if prev_page_range %}
            <li><a href="{% url "search" %}?{{ prev_page_range }}">&#x00ab;</a></li>
            {% endif %}

            {% for n, q in page_range %}
            <li {% if n == page %}class="active"{% endif %}><a href="{% url "search" %}?{{q}}">{{ n }}</a></li>
            {% endfor %}

            {% if next_page_range %}
            <li><a href="{% url "search" %}?{{ next_page_range }}">&#x00bb;</a>
            {% endif %}
          </ul> 
        </span>
      </form>
    </section>

    {% if debug %}
    <h2>Debugging info:</h2>
    JSON: <a href="{{ json_url }}">{{ json_url }}</a>
    &nbsp;
    Summon: <a href="{{ raw_url }}">{{ raw_url }}</a>
    <br>
    <br>
    {% endif %}


</div>

{% endblock %}
