{% extends "base.html" %}
{% load launchpad_extras humanize %}

{% block content %}

<div class="container">

    <h2>Search Tips</h2> <a href="../catalog">Standard Search</a><br>
    <h2>The basics. How to perform a search, or start a new search:</h2>

    <p> Enter your search term(s) in the search box and then press the Enter key.<br>
    For better results <em>use several search terms</em> rather than one word.</p>
    <p>To start a new search replace the previous terms with something else, then press Enter.<br>
     You may begin a new search using the search field displayed on the details page for a title.<br>
    </p>

    <p>Search results are sorted by relevance. Up to 20 titles are displayed per page. </p>
     <h2>About the <em>Refine Results</em> feature:</h2>
    Depending on your search terms there may be a lot of results.  There are <em>millions</em> of titles in the 
    catalog. <br>
    Filter the initial results by making selections from the shaded <em>Refine Results</em> box on the right of the page.   </p>
  <ul>
      <li> The selections you choose from the Refine Results box narrow down your search results.</li>
      <li> Refine options include Institution, Content Type, Language, and other characteristics. </li>
      <li> If you select George Washington University as the institution, a list of Library locations will be displayed. </li>
      <li> The ten most used terms are displayed under each heading in the Refine results box. </li>
      <li> When you make a selection, it will be displayed above the search results as a grey button; to deselect it, click on the button.</li>
      <li>The selections you choose will remain in effect for your next search. </i>
      <li> If you make more than one selection in the <em>same group</em> such as two different Languages, the system <br>
      interprets that to mean it should find titles with either one, in this example either language.</li>
      
  </ul>

  <h2>The 'Online Resources' filter</h2>
  <p>The checkbox labelled <em>Online Resources</em>, displayed under the search field, provides another way to narrow your search results. </p>
  <p>Check the box to narrow results to the titles having at least one copy available online. This includes online resources provided by George Washington University and those which are shared electronic resources provided by the consortium (WRLC).
    <ul>
        <li> electronic books (eBooks) </li>
        <li> electronic journals (eJournals) </li>
        <li> electronic versions of dissertations </li>
        <li> online government documents </li>
        <li> streaming audio and streaming video</li>
    </ul>
    </p>
 <p> Unlike the Refine Results options, checking this box doesn't add a button above the search results. To de-select the Online Resources filter, un-check the box.</p>

  <h2>You see search results, so what's next?</h2>
  <strong>Click on a title</strong> in the search results:
  <p>
  <ul>
    <li>View various details about the selected title.</li>
    <li>You may send yourself a text or email about the item. Click the email/mobile phone icon.</li>
    <li>The item location and circulation status are displayed. You may retrieve <strong>Available</strong> items from the library location shown in the Location and Call Number column.</li>
    <li>Access an electronic resource (eBook, Streaming Audio or video, eJournal, etc.)  <br>
    by clicking the buttons labelled 'Full Text Online','Listen Online',or 'View Online'. <br>
    <em>Note:</em>You may be prompted to logon with your library account if you are accessing the system from an off-campus location. </li>
    <li>From the details page you may request a copy from off-site, or from other libraries that have an available copy through the consortium loan service (CLS). The items will be delivered to a GW library of your choice. (Eligible copies will display a 'Request' link).</li>
    <li>You may request a copy unavailable in the consortium libraries through the Interlibrary Loan Service (ILL). A link will be displayed when Interlibrary Loan is applicable.</li>
    <li>From the details page you may click the Back button to return to the search results, or type a new search in the search box on the details page.</li>
  </ul>
  </p>

  <h2>A new search by author:</h2>

  You can click on the name of an author in the search results to trigger a <em>new search</em> for titles by that author.

  <h2>How to search for a specific phrase:</h2>

  Enclose your search terms in double quotes to indicate that you are looking for a phrase. Try your search with and without 
  quotes. You should see fewer results when you use double quotes. A search for "nuclear power" returns about four times fewer results than the same terms without double quotes.
  
  <h2>Getting fancy. Search box syntax to search a specific field, or combination of fields:</h2>

  The system searches across all fields in library records, and in some cases, the full text of some resources. You can perform more targeted searches by specifying the field name. Here are few examples.
  <dl>
    <dt>to look for a specific  title </dt>
    <dd>enter the title inside double quotes, <br>
    or even better, enter <em>titlecombined:</em> before the title. Punctuation and capitalization are not required. Notice the prefix is titlecombined. If you have a short, main title, the prefix title: may be suffcient. Title combined will match on the combination of title and subtitle.</dd>
    <dd>titlecombined:"envisioning information"</dd>

    <dt>an author name</dt>
    <dd>author:"tufte, edward"<br>
        Or, click on an author name in the search result to perform a new search by that author name</dd>

    <dt>a title and author (notice the uppercase 'AND' is used to indicate both must match)</dt>
    <dd>titlecombined:"envisioning information" AND author:"tufte, edward"</dd>

    <dt>subject (Note: do not use subject:)</dt>
    <dd>subjectterms:"data visualization"<br>
    geographiclocations:"france"<br>
    temporalsubjectterms:"18th century"<br>
    genre:"biography"<br>
    You may use the subject field on the Advanced Search form to search for subject terms too.</dd>

    <dt>Want to search for an ISBN number for a book on your syllabus? Try this (no punctuation required)</dt>
    <dd>isbn:9781449379100</dd>

    <dt>Looking for a publication by an ISSN number (include the hyphen)</dt>
    <dd>issn:1144-0546</dd>

    <dt>publication date, by decade (this example would match 2010,2012,2013,2014)</dt>
    <dd>publicationdecade:2010</dd>

    <dt>publication date, specific year (this example would match only 2013)</dt>
    <dd>publicationdate:2013</dd>

    <dt>publication date range (use square brackets and a hyphen as shown here)</dt>
    <dd>publicationdate:[1980-1984]</dd>

    <dt>library call number (this works with all or part of the call number)</dt>
    <dd>lccallnum:PN1993.5.E8 E9748</dd>

    <dt>an eBook provided by GW</dt>
    <dd>lccallnum:"gw electronic book"</dd>

    <dt>an eJournal provided by GW</dt>
    <dd>lccallnum:"gw electronic journal"</dd>

    <dt>eBooks available to all of the consortium libraries</dt>
    <dd>lccallnum:"shared electronic book"</dd>

    </dl>

    <h2>More power to you. Using Boolean operators in search field syntax:</h2>

    <dl>
    <p>
    You may type in your search terms and use boolean operators AND, OR, NOT to combine the parts. More examples:
    </p>
    <dt>author and publish date</dt>
    <dd>author:"isaacson walter" AND publicationdate:2011</dd>

    <dt>subject related</dt>
    <dd>subjectterms:"computer engineers" AND geographiclocations:"united states" AND genre:"biography"</dd> 
    </dl>

    <h2>Advanced Search page:</h2>
    <p><a href="../advanced">Advanced Search</a></p>
    <p>If you prefer to narrow the focus of the search up front, try the 'Advanced Search' page. </p>
    <ul>
        <li>This form  does not require boolean syntax. </li>
        <li>Just fill-in the appropriate fields, whether a few words (keywords) or something specific (exact terms)</li>
        <li>Press Enter or click the 'Advanced Search' button at the end of the form to run the search. </li>
    </ul>

    <h2>"Old School"  catalog search syntax options:</h2>
    <p> The system automatically does stemming of root words (e.g., sing, sang, sung, contstruct, contstruction, constructed). <br>
    However, you may use 'wildcard' syntax if you find it necessary.</p>
    <p> You may use the question mark symbol to indicate the system should match any single character (e.g., colo?r matches color and colour). <br>
    You may use an asterisk symbol to match zero or more characters within a word (e.g., colo*al matches colonial, colossal, colloquial).</p>

    <h2>Questions?</h2>
    If you have more questions about using the catalog or library services, visit the  <a href="http://library.gwu.edu/help/reference/ask-a-librarian">Ask a Librarian</a> or the <a href="http://library.gwu.edu/services">Library Services</a> pages of our web site.
    <p> We are working on new features for the catalog, and this page will be updated as features are added. 
    You may also submit suggestions or report problems with the catalog by clickng the "Found a Problem?" link at the top of this page.</p> 
    <br>
    <br>
    This page last updated: 08/28/2014
    <br>

</div>

{% endblock %}

