git+https://github.com/lawlesst/bibjsontools.git
cx_Oracle
django==1.8.13
django-nose
lxml
ply
pycountry
pymarc==2.9.0
python-memcached
pytz
git+https://github.com/asl2/PyZ3950.git
git+https://github.com/gwu-libraries/summoner.git
django-crispy-forms
