@charset "utf-8";

/* Libraries site styles */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 100%; font-family: Arial, sans-serif; line-height: 1.231; }

p, li {
	line-height: 1.125em; /* 18px; */
	font-size: .814em; /* 14px; */
	color: #555;
}

h2 {
	font-size: 1.25em; /* 20px; */
	font-family: Georgia, serif;
	color: #555;
	font-weight: normal;
	line-height: 1.5em; /* 24px; */
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #ccc;
}

h3 {
	font-size: 1em; /* 16px; */
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: normal;
	line-height: 1.25em; /* 20px; */
}

h4 {
	font-size: .75em; /* 12px; */
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: bold;
	line-height: 1em; /* 16px; */
}

a img {
	text-decoration: none;
	border: 0 none;
	}

/* to force images to scale (responsive) -- optional */
img, object, embed {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

#libheader-container {
	width:100%; 
	margin-bottom: 1em; 
	height: 2em; 
	padding: 0 0 .3em; 
	background-color: #03314b;
	background-image: url(/static/img/bg-local-nav-bottom.png);
	background-position: bottom;
	background-width: 100%;
	background-repeat: repeat-x;
}

#libheader {
	max-width: 940px; 
	min-width: 320px; /* change to 700px if removing responsive or the IE stylesheet */
	margin: 0 auto 0; 
	height: 2em; 
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#libheader a {color:#fff; text-decoration:none;}
#libheader a:visited {color:#fff;}
#libheader a:hover {color:#fff; text-decoration:underline;} 

.libheader-link {float:left; font-size:.9em; padding-top:.6em; margin-left:1em;}
.libheader-liblink {float:left; font-size: 1.1em; padding-top:.3em; margin-right:2em; margin-left:.5em;}
.libheader-logo {float:right; overflow:hidden; height:2em; margin-right:.5em;}
.libfooter-text {margin: 0 .5em; font-size:.7em; padding-top:.75em; overflow:hidden;}

#libfooter-container {
	width: 100%; 
	height: 2em; 
	background-color: #03314b;
}

#libfooter {
	max-width:940px;
	min-width: 320px; /* change to 700px if removing responsive or the IE stylesheet */
	margin:1em auto 0; 
	color:#fff; 
	padding:0; 
	white-space: nowrap; 
	overflow:hidden;
}

#libfooter a {color:#fff; text-decoration:none;}
#libfooter a:visited {color:#fff;}
#libfooter a:hover {color:#fff; text-decoration:underline;} 

/* responsive class to drop the gw logo when window is under 700px  */
.hide-lo {
  display: block;
  visibility: visible;  
}

/* this is set at 720 to leave room for links, adjust as needed if your links are shorter/longer */
@media screen and (max-width: 720px) {
  .hide-lo {display:none; visibility:hidden;}
}
