body {
    font-family: Helvetica, Arial, sans-serif;
}

p, li {line-height: 1.3em;}

.library-has {
    color: gray;
    font-size: small;
    overflow:hidden;
}

a.library-has {
    color: #0088cc;
    text-decoration: none;
}

.item_list {
	margin: 0px auto;
	padding: 0px;
	width: 383px;
	height:311px;
}
.item_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	background-color:#FFCCCC;
	margin:1px;
}
.item_body {
	padding: 5px 10px 15px;
	background-color:#F4F4F8;
}

table {
    border: None;
}

tr, td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
    color: gray;
}

td {
    border-bottom: 1px solid #e6e6e6;
    padding-top: .4em;
    padding-bottom: .4em;
    margin: 0px;
    /*color: #000000;*/
}

td.field-label {
    font-size: smaller;
    padding-right: 15px;
}

.library-group-header{
    padding-top: 1em;
    font-size: large;
    /*font-family: Georgia, serif;*/
    font-weight: normal;
    color: #444;
    line-height: 1.3em;
    border-bottom: none;
}

.temp-loc-label{
    color: rgb(96,96,96);
    font-size: small;
}

.off-site{
    color: black;
}

.off-site-explanation{
    color: green;
    font-size: small;
}

.link-volumes{
    font-size: small;
    color: gray;
}

.note-label{
    font-size: small;
    color: black;
}

.note{
    font-size: small;
    color: gray;
}

.itemrow{
    padding-left: 1em;
}

.linkresolverlist{
    /*font-size: small;*/
    color: gray;
}

.linkresolverdata{
    /*float: right;*/
}

.linkresolverdates{
    color: black;
    font-size: medium;
}

.linkresolverresource{
    padding-bottom: 0.5em;
    clear:left;
    min-height: 2em;
}

.linkresolverdbname{
    font-size: small;
}

.marc856list{
    /*font-size: small;*/
    /*color: black;*/
}

.marc856data{
    /*float: right;*/
}

.marc856dates{
    color: black;
    font-size: medium;
}

.marc856resource{
    padding-bottom: 0.5em;
    clear:left;
    min-height: 2em;
}

.marc856dbname{
    font-size: small;
}


.smallbuttons{
    /*font-size: medium;*/
    float: left;
    margin-right: 0.5em;*
}

.home-search-button {
  vertical-align: center;
  margin-bottom: 10px;
  height: 40px;
  font-size: 25px;
}

#cover {
    float: left;
    padding: 1.2em 1em .5em 0;
}

#cover-image {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#desc-table td {border:0;}

footer {
    margin-top: 3em;
}

#citation_data {
    font-size: small;
}

#citation_data dt {
    color: gray;
    font-weight: normal;
}

.navbar-search {
    padding-right: 10px;
}

.search form {
    height: 1.5em;
}

#q {
  max-width: 400px;
  width: 95%;  
}

.search-result {
  padding: 10px 10px 10px 0px;
  border-bottom: solid thin #cccccc;
  clear: both;
}

.search-result .title {
  font-size: 12pt;
}

.search-result img.cover-thumbnail {
  display: none;
  height: 100px;
  float: right;
  margin-left: .3em;
  margin-bottom: .3em;
}

.advanced-search {
  clear: left;
  font-size: smaller;
}

.standard-search {
  float: right;
  padding-top: .8em;
  font-size: .9em;
}

#adv .row-fluid {
  margin-bottom: 2em;
}

img.item-type {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  height: 15px;
}

section.search {
  margin-top: 15px;
  padding-bottom: 1em;
}

ul.subjects {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.subjects li {
  display: inline;
  font-size: inherit;
  padding-left: 1em;
}

#active-facets {
  margin-bottom: 10px;
}

#active-facets ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding-left: 10px;
}

#active-facets li {
  display: inline;
  font-size: smaller;
  padding: 3px;
}

#facets {
  background-color: #EAEAEA;
  padding: 15px;
}

#facets hr {
    border-top: 1px solid gray;
}

.trailing-period {
  margin-left: -4px;
}

ul.offers {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: .9em;
}

.offers li {
  font-size: 1.1em;
}

.itemType .fa-film {padding:.4em .4em .5em 0;}

.itemType .fa-headphones {padding:.4em .4em .3em 0;}

/* print request form */
.help-block {
  /* padding-top: .5em; */
  font-size: smaller;
}

.instruct {
  padding-top: 1em;
}

.requestform label {
  padding-top: 2em;
} 

.requestform select {
  font-size: small;
}

.requestform input {
   width: 50%;
}

.requestform .checkboxinput {
  width: 30px;
}
/* end print request form */

#search-results {
  font-size: .9em;
}

#search-results .search-result-title {
  line-height: 1.25em;
  font-size: 1.4em;
}

/* unvisited link */
#search-results a:link    {
}

/* visited link */
#search-results a:visited {
    color: #663366;
}

/* mouse over link */
#search-results a:hover   {
}

/* selected link */
#search-results a:active  {
}

/* buttons */
button, .button {
  border-width: 0px;
  color: white;
  box-shadow: none;
  text-decoration: none;
  font-size: .8em;
  line-height: 1em;
  padding: .3em .4em .3em;
  background: #0088cc;
  border-radius: .2em;
  margin-top: -.1em;
}

.button-lg {
  font-size: 1em;
}

#search-results .search-result-title-alt, #search-results .search-result-author-alt {font-size: 1.6em;} 

#facets li {color:#555; font-size:.814em;}

#active-facets .fa-times-circle {padding-left:.5em; padding-right:0;}

#home-search-box-form {
  margin-top: 20%;
}

#home-search-box {
  width: 45%;
  line-height: 25px;
  height: 30px;
  font-size: 25px;
}

#active-facets .fa-ellipsis-v {
  padding-left: .5em;
  /*top: .5px;
  position: relative;*/
  color: #999;
}

#backToTopContainer {
  position: fixed;
  top: 60%;
}

.back-to-top {
  position:relative; 
  left:1200px; 
  background-color: rgba(0,0,0,0); 
  height: 40px; 
  width: 40px; 
  background-image: url(/static/img/back-to-top-sprite.png); 
  z-index: 1000;
  display: block;
}

#publication-year, #publication-year-start, #publication-year-end {
  max-width: 100px;
}

/* modifying spacing of font awesome external link icon */
.fa-external-link {padding-left:.3em;}

/* overriding bootstrap so that facet buttons don't bump when stacked */
#active-facets .btn {margin-bottom:.4em;}
/* overriding bootstrap to avoid content pushing off screen in some views */
.row {margin-left:0}

@media screen and (max-width: 1200px) {
  #active-facets ul {padding-left:0;}
  #home-search-box {width:80%;}
}

@media screen and (max-width: 780px) {
  #libfooter-container {height:2.9em;}
  #footer-utility {float:none; clear:left; margin-top:1.6em;}
}

@media screen and (max-width: 680px) {
  section.search {padding-bottom:3em;}
  section.item-search {padding-bottom:1em} 
  #home-search-box {width:95%; font-size:20px; line-height:30px;}
  #home-search-box-form {margin-top:10%;}
  .standard-search {float:left; padding-top:0;}
  .home-search-button {height:inherit; font-size:1em;}
}

@media screen and (max-width: 480px) {
  #adv .row-fluid {margin-bottom: 0;}
}
