#libheader-container {
    background-image: url(/static/img/bg-local-nav-bottom.png);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.library-has {
    color: gray;
    font-size: small;
    overflow:hidden;
}

.item_list {
	margin: 0px auto;
	padding: 0px;
	width: 383px;
	height:311px;
}
.item_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	background-color:#FFCCCC;
	margin:1px;
}
.item_body {
	padding: 5px 10px 15px;
	background-color:#F4F4F8;
}

table {
    border: None;
}

tr, td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
    color: gray;
}

td {
    border-bottom: 1px solid #e6e6e6;
    padding-top: .4em;
    padding-bottom: .4em;
    MARGIN: 0px;
    COLOR: #000000;
}

.library-group-header{
    padding-top: 1em;
    font-size: large;
    font-family: Georgia, serif;
    font-weight: normal;
    color: #444;
    line-height: 1.3em;
    border-bottom: none;
}

.temp-loc-label{
    color: rgb(96,96,96);
    font-size: small;
}

.off-site{
    color: black;
}

.off-site-explanation{
    color: green;
    font-size: small;
}

.link-volumes{
    font-size: small;
    color: gray;
}

.note-label{
    font-size: small;
    color: black;
}

.note{
    font-size: small;
    color: gray;
}

.itemrow{
    padding-left: 0em;
}

#cover {
    float: left;
    padding: 1.2em 1em .5em 0;
}

#description {
    float: left;
}

#cover-image {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

footer {
    margin-top: 3em;
}
