body {
    font-family: Helvetica, Arial, sans-serif;
}

.library-has {
    color: gray;
    font-size: small;
    overflow:hidden;
}

.item_list {
	margin: 0px auto;
	padding: 0px;
	width: 383px;
	height:311px;
}
.item_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	background-color:#FFCCCC;
	margin:1px;
}
.item_body {
	padding: 5px 10px 15px;
	background-color:#F4F4F8;
}

table {
    border: None;
}

tr, td, th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
    color: gray;
}

td {
    border-bottom: 1px solid #e6e6e6;
    padding-top: .4em;
    padding-bottom: .4em;
    margin: 0px;
    color: #000000;
}

td.field-label {
    font-size: smaller;
    padding-right: 15px;
}

.library-group-header{
    padding-top: 1em;
    font-size: large;
    /*font-family: Georgia, serif;*/
    font-weight: normal;
    color: #444;
    line-height: 1.3em;
    border-bottom: none;
}

.temp-loc-label{
    color: rgb(96,96,96);
    font-size: small;
}

.off-site{
    color: black;
}

.off-site-explanation{
    color: green;
    font-size: small;
}

.link-volumes{
    font-size: small;
    color: gray;
}

.note-label{
    font-size: small;
    color: black;
}

.note{
    font-size: small;
    color: gray;
}

.itemrow{
    padding-left: 0em;
}

.linkresolverlist{
    /*font-size: small;*/
    color: gray;
}

.linkresolverdata{
    /*float: right;*/
}

.linkresolverdates{
    color: black;
    font-size: medium;
}

.linkresolverresource{
    padding-bottom: 0.5em;
    clear:left;
    min-height: 2em;
}

.linkresolverdbname{
    font-size: small;
}

.marc856list{
    /*font-size: small;*/
    color: black;
}

.marc856data{
    /*float: right;*/
}

.marc856dates{
    color: black;
    font-size: medium;
}

.marc856resource{
    padding-bottom: 0.5em;
    clear:left;
    min-height: 2em;
}

.marc856dbname{
    font-size: small;
}


.smallbuttons{
    font-size: medium;
    float: left;
    margin-right: 0.5em;*
}

#cover {
    float: left;
    padding: 1.2em 1em .5em 0;
}

#cover-image {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#desc-table td {border:0;}

footer {
    margin-top: 3em;
}

#citation_data {
    font-size: small;
}

#citation_data dt {
    color: gray;
    font-weight: normal;
}

.navbar-search {
    padding-right: 10px;
}

.search form {
    height: 1.5em;
}

.search input {
    width: 400px;
}

.search-result {
  padding: 10px 10px 30px;
  border-bottom: solid thin #cccccc;
  clear: both;
}

.search-result .title {
  font-size: 12pt;
}

.search-result img.cover-thumbnail {
  display: none;
  height: 100px;
  float: right;
  padding-left: .2em;
}

img.item-type {
  float: left;
  vertical-align: top;
  margin-right: 10px;
  height: 30px;
}

section.search {
  margin-top: 15px;
}

ul.subjects {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.subjects li {
  display: inline;
  font-size: medium;
}

#active-facets {
  margin-bottom: 10px;
}

#active-facets ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding-left: 10px;
}

#active-facets li {
  display: inline;
  font-size: smaller;
  padding: 3px;
}

#facets {
  background-color: #EAEAEA;
  padding: 15px;
}

#facets hr {
    border-top: 1px solid gray;
}

.trailing-period {
  margin-left: -4px;
}

ul.offers {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: medium;
}

.offers li {
  font-size: medium;
}


/* branch changes t697-UI-tweaks */
p, li {line-height: 1.3em;}

.cover-thumbnail {
  float: right;
  height: 120px;
  padding-left: .4em;
}

ul .offers {} 
.offers li {font-size: .9em;}

#search-results {
  font-size: .9em;
}

#search-results .search-result-title {
  line-height: 1.6em;
  font-size: 1.4em;
}
