@charset "utf-8";

/* Libraries site styles */
/* use libheader7_lite_dropin.css instead if you don't need to alter the main content/body styles */
/* mods for Bootstrap swatch are in linheader-lite_bootswatch.css */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 100%; font-family: Helvetica, Arial, sans-serif; line-height: 1.231; }
/* optionally set page background color inside body tag: "background-color: #ccc" etc  */

article {}

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {font-family: Helvetica, Arial, sans-serif;}

p, li {
	line-height: 1.25em; /* 20px; */
	font-size: 1em; /* 16px; */
	color: #333;
}

h1, h2 {
	font-size: 1.25em; /* 20px; */
	color: #333;
	font-weight: normal;
	line-height: 1.5em; /* 24px; */
	letter-spacing: -1px;
}

h3 {
	font-size: 1em; /* 16px; */
	color: #333;
	font-weight: normal;
	line-height: 1.25em; /* 20px; */
}

h4 {
	font-size: .75em; /* 12px; */
	color: #333;
	font-weight: bold;
	line-height: 1em; /* 16px; */
}

a img {
	text-decoration: none;
	border: 0 none;
	}

/* to force images to scale (responsive) -- optional */
img, object, embed {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Correct font-size not inheriting in all browsers, Remove margins in FF3/4 S5 Chrome, Define consistent vertical alignment display in all browsers */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* This is the new Libraries "blue" submit button */
input[type=submit], button {
    border-color: #4081AF #4081AF #20559A;
    border-style: solid;
    border-width: 1px;
    color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
    text-decoration: none;
	font-size: 1em;
	padding: .3em .4em;
	background: -moz-linear-gradient(center top , #1F65A0 20%, #4282B1 100%); /* mozilla */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #1F65A0), color-stop(100%, #4282B1)); /* Safari 4+, Chrome 2+ */  	
    background: -o-linear-gradient(#1F65A0, #4282B1); /* Opera 11.10 */  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F65A0', endColorstr='#4282B1'); /* IE6 & IE7 */  
    ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F65A0', endColorstr='#4282B1')"; /* IE8+ */  
    background: linear-gradient(#1F65A0, #4282B1); /* the standard */ 
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;	
	display: inline-block;
}

#libheader-container {
	width: 100%; 
	margin-bottom: 1em; 
	height: 2em; 
	padding: 0 0 .3em;
    background-color: #005581; 
    border-bottom: 4px solid #b2a38f;
}

#libheader {
	width: 100%;
	max-width: 940px;
	min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
	margin: 0 auto 0; 
	height: 2em; 
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#libheader a {color:#fff; text-decoration:none;}
#libheader a:visited {color:#fff;}
#libheader a:hover {color:#fff; text-decoration:underline;} 

.libheader-link {float:left; font-size:.9em; padding-top:.8em; margin-left:1em;}
.libheader-icon {float:right; font-size:.9em; padding-top:.6em; margin-left:1em;}
.libheader-liblink {float:left; font-size: 1.1em; padding-top:.5em; margin-right:2em; margin-left:.5em;}
.libheader-logo {float:right; overflow:hidden; height:2em; margin-right:.5em; margin-left:1em; margin-top:.1em;}
.libfooter-text {margin: 0 .5em .5em; font-size:.7em; padding-top:.75em; overflow:hidden;}

.bullet {float:left; padding:.6em 0 0 .75em; color:#fff;}

#libfooter-container {
	width: 100%; 
	height: 2em; 
	background-color: #005581; 
}

#libfooter {
	width: 100%;
	max-width: 940px;
	min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
	margin: 1em auto 0; 
	color: #fff; 
	padding: 0; 
	white-space: nowrap; 
	overflow: hidden;
}

#footer-contact {
  float: left;
}

#footer-utility {
  float: right;
  margin-top: 0;
}

#libfooter a:link {color:#fff; text-decoration:none;}
#libfooter a:visited {color:#fff;}
#libfooter a:hover {color:#fff; text-decoration:underline;} 

/* responsive class to drop the gw logo when window is 720px or below (mobile-first)  */
@media screen and (max-width: 720px) {
    .hide-lo {display:none; visibility:hidden;}
}

/* this is set at 721 to leave room for links, adjust as needed if your links are shorter/longer */
@media screen and (min-width: 721px) {
	.hide-lo {
		display: block;
		visibility: visible;  
	}
}

/* responsive class to prevent utility links from bumping contact block in smaller views */
@media screen and (max-width: 760px) {
  #libfooter-container {height:2.9em;}
  #footer-utility {float:none; clear:left; margin-top:1.6em;}
}


/* MODS FOR PRINT */

@media print {

    /* Libraries site styles */

    html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

    body { margin: 0; font-size: 100%; font-family: Helvetica, Arial, sans-serif; line-height: 1.231; }
    /* optionally set page background color inside body tag: "background-color: #ccc" etc  */

    p, li {
        line-height: 1.125em; 
        font-size: .814em; 
        color: #000;
    }

    h1, h2 {
        font-size: 1.25em; /* 20px; */
        font-family: Helvetica, Arial, sans-serif;
        color: #000;
        font-weight: normal;
        line-height: 1.5em; /* 24px; */
        letter-spacing: -1px;
        text-shadow: 0px 1px 1px #ccc;
    }

    h3 {
        font-size: 1em; /* 16px; */
        font-family: Helvetica, Arial, sans-serif;
        color: #000;
        font-weight: normal;
        line-height: 1.25em; /* 20px; */
    }

    h4 {
        font-size: .75em; /* 12px; */
        font-family: Helvetica, Arial, sans-serif;
        color: #000;
        font-weight: bold;
        line-height: 1em; /* 16px; */
    }

    a img {
        text-decoration: none;
        border: 0 none;
        }

    /* to force images to scale (responsive) -- optional */
    img, object, embed {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    /* Correct font-size not inheriting in all browsers, Remove margins in FF3/4 S5 Chrome, Define consistent vertical alignment display in all browsers */
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

    /* This is the new Libraries "blue" submit button */
    input[type=submit], button {
        border-color: #333;
        border-style: solid;
        border-width: 1px;
        color: #000; 
        text-decoration: none;
        font-size: 1em;
        padding: .3em .4em;
        -moz-border-radius: .4em;
        -webkit-border-radius: .4em;
        border-radius: .4em;	
        display: inline-block;
    }

    #libheader-container {
        width: 100%; 
        margin-bottom: 1em; 
        height: 2em; 
        padding: 0 0 .3em;
        /*background-color: #03314b;*/
        /*background-image: url(bg-local-nav-bottom.png);*/
        background-position: bottom;
        background-width: 100%;
        background-repeat: repeat-x;
    }

    #libheader {
        width: 100%;
        max-width: 940px; 
        min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
        margin: 0 auto 0; 
        height: 2em; 
        color: #000; 
        white-space: nowrap; 
        overflow: hidden;
    }

    #libheader a {color:#000; text-decoration:none;}
    #libheader a:visited {color:#000;}
    #libheader a:hover {color:#000; text-decoration:underline;} 

    .libheader-link {float:left; font-size:.9em; padding-top:.6em; margin-left:1em;}
    .libheader-liblink {float:left; font-size: 1.1em; padding-top:.3em; margin-right:2em; margin-left:.5em;}
    .libheader-logo {float:right; overflow:hidden; height:2em; margin-right:.5em;}
    .libfooter-text {margin: 0 .5em; font-size:.7em; padding-top:.75em; overflow:hidden;}

    .bullet {float:left; padding:.6em 0 0 .75em; color:#000;}

    #libfooter-container {
        width: 100%; 
        height: 2em; 
        /*background-color: #03314b;*/
    }

    #libfooter {
        width: 100%;
        max-width: 940px;
        min-width: 320px; /* change to 720px if removing responsive or the IE stylesheet */
        margin: 1em auto 0; 
        color: #000; 
        padding: 0; 
        white-space: nowrap; 
        overflow: hidden;
    }

    #libfooter a {color:#000; text-decoration:none;}
    #libfooter a:visited {color:#000;}
    #libfooter a:hover {color:#000; text-decoration:underline;} 

    /* drop the gw logo for print  */
      .hide-lo {display:none; visibility:hidden;}

}
