/* MODS FOR BOOTSTRAP SWATCH, optionally paste at the end of the main css file libsite7_lite.css  */

#libheader {
    width: auto;
    max-width: 1170px;
}

.libsite-container {
    margin-top: 35px;
    margin-bottom: 35px;
}

/* override bootstrap to keep footer stuck to bottom for all views */
.navbar-fixed-bottom {
    position: fixed;
    margin-bottom: 0;
}
@media screen and (max-width:768px) {
  .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
  }
}
/* end bootstrap override */

#libfooter {
    width: auto;
    max-width: 1170px;
}

.libheader-liblink {margin-left:0;}

@media screen and (max-width:1200px) {
    .libheader-liblink {margin-left:.5em;} 
    .libfooter-text {margin:0 .5em;}
}

@media screen and (min-width:980px) { 
	.libsite-container {margin-top:3em;} 
}