@charset "utf-8";

/* for older IE to override responsive since it's unsupported */

body { font-family: Arial, sans-serif; }

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {font-family: Arial, sans-serif;}

.row-fluid {padding-left:1em; padding-right:1em;}

#libheader {min-width:720px;}

.libheader-liblink {margin-left:.5em;}
.libheader-logo {margin-right:.5em;}

#libfooter {min-width:720px;}

.libfooter-text {margin-left:.5em;}